/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./reset.css');
@import url('./vite-promo.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.title {
  margin: 10px 10px 10px 0px;
}

.timer {
  display: flex;
  /* justify-content: space-between; */

  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.field {
  display: flex;
  justify-content: space-around;
  margin: 21px 20px 5px 5px;
  padding-right: 18px;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 48px;
  margin-bottom: 4px;
}

.label {
  font-size: 18px;
}

/* FORM */

.form {
  width: 300px;
  margin: 20px;
  font-family: Arial, sans-serif;
}

.form label {
  display: block;
}

.form input[type='number'] {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.form fieldset {
  display: flex;
  border: none;
  padding-top: 10px;
}

.form legend {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.form label input[type='radio'] {
  margin-right: 10px;
}

.form button[type='submit'] {
  width: 100%;
  padding: 10px;
  background-color: #6cb2c2;
  color: white;
  border: none;
  cursor: pointer;
}
